






body{
    
    margin: auto;
    background-color: #B1D7B4;
    text-shadow: 3px 2px 3px rgba(255,255,255,.3), 7px 3px 0px rgba(247,246,220,0.3);
}
header{
    margin: auto;
    padding-left: 50px;
    padding-top: 25px;
    height: 150px;
    background-size: cover;
    background-image: url(../img/MicrosoftTeams-image.png) ;
    box-shadow: 10px 5px 5px #F7F6DC;
}


ul{
    margin-left: 20px;
    list-style-image: url(../img/chili-pepper-icon.gif);

}
li{
    border: 2px solid #F7F6DC;
    width: 180px;
    text-indent: 10px;
    padding-bottom: 5px;
    margin-top: 10px ;
    background-color: #7FB77E;
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}

table,td,th{
    border: 1px solid black;
    margin: auto;
    border-collapse: collapse;
    border-radius: 10px 10px 10px 10px;
}
p{
    text-align: justify;
}
table{
    width: 300px;
}
#jobb{
    width: 120px;
    text-align: center;
}
#bal{
    text-align: left;
}
.ize{
    margin-left: 20px;
}

.navbar-inverse {
  margin-left: 30px;
  background: rgb(255,192,144);
background: linear-gradient(190deg, rgba(255,192,144,0.7570124246987951) 18%, rgba(177,215,180,1) 69%);
  border: none;
  margin-bottom: 0;
  min-height: 80px;
  padding-bottom: 10px;
}
.nav ul{
    list-style-image: url(../img/chili-pepper-icon.gif);
}
.nav li {
    border: 2px solid #F7F6DC;
    width: 180px;
    text-indent: 10px;
    margin-top: 10px ;
    
    color: black;
    text-decoration: none;
    display: inline;
    
    list-style-image: url(../img/chili-pepper-icon.gif);
}

.navbar-inverse .navbar-nav>li>a {
  color: #130101;
  font-weight: 300;
  padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
  
  
  height: 100%;
}


