






body{
    
    margin: auto;
    background-color: #FFEFD5;
    color: #8B4513 ;
}
header{
    margin: auto;
    padding-left: 50px;
    padding-top: 25px;
    height: 150px;
    background-size: cover;
    background-image: url(../img/MicrosoftTeams-image.png) ;
}


ul{
    margin-left: 20px;
    list-style-image: url(../img/chili-pepper-icon.gif);

}
li{
    border: 2px solid lightblue;
    width: 180px;
    text-indent: 10px;
    padding-bottom: 5px;
    margin-top: 10px ;
    background-color: white;
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a{
    text-decoration: none;
    color: black;
}

table,td,th{
    border: 1px solid black;
    margin: auto;
    border-collapse: collapse;
}
p{
    text-align: justify;
}
table{
    width: 300px;
}
#jobb{
    width: 120px;
    text-align: center;
}
#bal{
    text-align: left;
}
.ize{
    margin-left: 20px;
}

.navbar-inverse {
  margin-left: 30px;
  background-color:  #FFEFD5;  
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  min-height: 80px;
  padding-bottom: 10px;
}
.nav ul{
    list-style-image: url(../img/chili-pepper-icon.gif);
}
.nav li {
    border: 2px solid lightblue;
    width: 180px;
    text-indent: 10px;
    margin-top: 10px ;
    background-color: white;
    color: black;
    text-decoration: none;
    display: inline;
    color: white;
    list-style-image: url(../img/chili-pepper-icon.gif);
}

.navbar-inverse .navbar-nav>li>a {
  color: #130101;
  font-weight: 300;
  padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
  
  
  height: 100%;
}


