body{
    width: 1000px;
    margin: auto;
    background-color: #FFEFD5;
    color: #8B4513 ;
}
header{

    padding-left: 50px;
    padding-top: 25px;
    height: 100px;
    background-size: cover;
    background-image: url(MicrosoftTeams-image\ \(3\).png) ;
}


ul{
    list-style-image: url("chili-pepper-icon.gif");

}
li{
    border: 2px solid lightblue;
    width: 180px;
    text-indent: 5px;
    margin-top: 10px ;
    background-color: white;
    color: black;
}
table,td,th{
    border: 1px solid black;
    margin: auto;
    border-collapse: collapse;
}
p{
    text-align: justify;
}